.RecentSightings {
    text-transform: uppercase;
}
.RecentSightings-title {
    margin-right: 0.5em;
}
.RecentSightings-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.RecentSightings-item {
    display: flex;
    margin: 0;
    padding: 0;
}
.RecentSightings-item-inner {
    display: block;
}
.RecentSightings-item-inner::after {
    content: '|';
    padding: 0 0.5em;
}
.RecentSightings-item-inner:last-child::after {
    content: '';
    padding: 0;
}
